@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html,body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.container {
    height: 100%;
}

.container .navbar {
    display: flex;
    width: 100%;
    height: 50px;
    background: #1d1d1f;
    justify-content: center;
    align-items: center;
}

.container .navbar ul li{
    display: inline-block;
    padding: 0 20px;
}

.container .navbar ul li a {
    font-size: 15px;
    color: #999;
    font-weight: 700;
}

.container .navbar i {
    color: white;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 15px;
}

.container .main h1  {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

.container .main h1 a {
    color: #000;
    /* font-weight: bolder; */
}

.container .main i {
    text-align: center;
    margin-right: 15px;
}

.container .main h2 {
    text-align: center;
    font-size: 25px;
    color: palevioletred;
    letter-spacing: 3px;
}

.container .main h3 {
    text-align: center;
    margin-top: 10px;
}

.container .main h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.container .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container .links a {
    font-size: 20px;
    font-weight: 800;
    margin-left: 40px;
    color: #2997ff;
}

.container .links a:hover {
    text-decoration: 2px underline;
}

.container .links a i {
    margin-left: 15px;
}

.container .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .image img{
    width: 500px;
    height: 500px;
}

.container .macbook {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: #000;
}

.container .macbook span {
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.container .macbook img {
    margin-top: 50px;
    width: 500px;
}

.container .air .macbook{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: white;
}

.container .air .macbook span {
    color: #000;
}


.container .iphone {    
    display: flex;
    flex-wrap: wrap ;
    width: 100%;
    height: 600px;
    /* background-color: orange; */
}

.container .iphone .iphone13 {
    width: 40%;
    height: 500px;
    background-image: linear-gradient(to right top, #bec7d4, #b6cbd3, #b4cdcc, #bacec2, #c7cdba);
    margin: 50px;
    text-align: center;
    padding: 50px;
}

.container .iphone .iphone13 img {
    width: 250px;
    margin-top: 10px;
}

.container .iphone .iphone13 h1{
    font-size: 50px;
    font-weight: bolder;
}

.container .iphone .iphone13 span {
    font-size: 20px;
    font-weight: bolder;
}

.container .iphone .iphone13-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    width: 40%;
    height: 500px;
    background-image: linear-gradient(to right top, #bec7d4, #b6cbd3, #b4cdcc, #bacec2, #c7cdba);
    margin: 50px;
}

.container .iphone .iphone13-pro img {
    width: 350px;
    margin-top: 10px;
}

.container .iphone .iphone13-pro h1{
    font-size: 50px;
    font-weight: bolder;
}

.container .footer {
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 250px;
    /* background: #555; */
    padding: 30px;
}

.container .footer .col-1 a{
    color: #6e6e73;
    display: block;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 13px;
    
}

.container .footer .col-1 h3 {
    margin-right: 13px;

}

.container .footer .col-2 a{
    color: #6e6e73;
    display: block;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 13px;
}

.container .footer .col-3 a{
    color: #6e6e73;
    display: block;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 13px;
}

.container .paragraf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50px;
    margin: 0 auto;
}

.container .paragraf p {
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid;
    color: #6e6e73;
}

.container .bottom {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.container .bottom p {
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid;
    color: #6e6e73;
}

.container .telif {
    display: flex;
    justify-content: center;
}

.container .telif p {
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid;
    color: #6e6e73;
}

